# Minecraft Bedrock Gitignore

# Binaries
*.exe
*.dll
*.pdb
*.log
*.zip

# World data (Can be large)
worlds/

# Specific server files (temporary or generated)
packet-statistics.txt
packetlimitconfig.json
profanity_filter.wlist
stdin.txt
