# Minecraft Bedrock Gitignore

# Binaries
bedrock_server.exe
*.dll
*.pdb
*.log
*.zip

# World data (Can be large)
# worlds/

# Database files (LevelDB - VERY IMPORTANT)
worlds/*/db/
worlds/**/db/
**/db/

# Specific server files (temporary or generated)
packet-statistics.txt
packetlimitconfig.json
profanity_filter.wlist
stdin.txt
